<div class="card mb-1" style="width: 100%;">
    <div class="card-body">
      <h5 class="card-title">{{job['title']}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">Location: {{job['location']}} </h6>
      <p class="card-text">{{job['description']}}</p>
      {% if 'salary' in job %}
        <h6 class="card-subtitle mb-2 text-muted">Salary: {{job['salary']}} </h6>
      {% endif %}
      <a href="mailto:earthling5@outlook.com?subject=Application for {{job['title']}}" class="btn btn-primary btn-lg">Apply</a>
    </div>
</div>